@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --color-01: #00804b;
  --color-02: #fff;
  --color-03: #3a4d5e;
  --color-04: #000;
  --color-05: #f0f0f0;
  --color-06: #6665ee;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  transition: 0.2s;

  font-family: 'Montserrat', sans-serif;
}

.max-width {
  /*Deixando o menu centralizado*/
  max-width: 1280px;
  padding: 0 8rem;
  margin: auto;
}

/*FIM DOS VALORES PADRÕES******/

/*INICIO TODOS OS CÓDIGOS SIMILARES*/
section {
  padding: 100px 0;
}

section .title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;

  margin-bottom: 6rem;
  padding-bottom: 2rem;

  position: relative;
}

section .title::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 18rem;
  height: 0.3rem;
  background: var(--color-04);
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  font-size: 2rem;
  background: var(--color-02);
  color: var(--color-04);
  padding: 0.5rem;
  transform: translateX(-50%);
}
/*FIM TODOS OS CÓDIGOS SIMILARES*/

/*INICIO DA NAVBAR******/
.navbar {
  position: fixed;
  width: 100%;
  padding: 3rem 0;

  z-index: 999; /*Aqui deixo o header com o menu por cime de tudo*/

  transition: all 0.3s ease;
}

.navbar.sticky {
  /*Aqui estamos criando a classe que vai adicionar o background do HEADER no momento da rolagem*/
  background: var(--color-04);
  padding: 1.5rem 0;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--color-02);
  font-size: 3.5rem;
  font-weight: 500;
}

.navbar .logo a span {
  color: var(--color-04);
  transition: all 0.3s ease; /*Aqui estou colocando uma transição no momento da rolagem do scroll para baixo*/
}

.navbar.sticky .logo a span {
  /*Aqui estamos criando a classe que vai adicionar o background do HEADER no momento da rolagem*/
  color: var(--color-02);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: var(--color-02);

  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 2.5rem;

  /*transition: color 0.1s ease;*/
}

.navbar .menu li a:hover {
  border-bottom: solid 0.1rem var(--color-02);
}

.navbar.sticky .menu li a:hover {
  /*Aqui estamos criando a classe que vai adicionar o background do HEADER no momento da rolagem*/
  color: var(--color-03);
}
/*FIM DA NAVBAR******/

/*INICIO DA HOME******/
.home {
  display: flex;
  background: url(image/04.jpg) no-repeat center;
  height: 100vh;
  color: var(--color-02);
  min-height: 500px;
}

.home .max-width {
  margin: auto 0 auto 4rem;
}

.home .home-content .text-1 {
  font-size: 2.7rem;
}

.home .home-content .text-2 {
  font-size: 4rem;
  font-weight: 500;
  margin-left: -0.3rem;
}

.home .home-content .text-3 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.home .home-content .text-3 span {
  color: var(--color-02);
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;

  background: var(--color-04);
  color: var(--color-02);

  font-size: 2.5rem;

  padding: 1.2rem 3.6rem;
  margin-top: 2rem;

  border-radius: 15rem;
  border: 0.1rem solid var(--color-02);
}

.home .home-content a:hover {
  color: var(--color-02);
  background: none;
}
/*FIM DA HOME******/

/*INICIO DO MENU MOBILE*/
.menu-btn {
  color: var(--color-02);
  font-size: 2.6rem;
  cursor: pointer;

  display: none;
}
/*FIM DO MENU MOBILE*/

/*INICIO DO SOBRE*/
.about .about-content,
.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .title::after {
  content: 'Quem sou eu';
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.about .about-content .right .text span {
  color: var(--color-04);
  font-size: 1.5rem;
  font-weight: 600;
}

.about .about-content .right a {
  display: inline-block;
  background: var(--color-04);
  color: var(--color-02);

  font-size: 2rem;
  font-weight: 500;

  padding: 1rem 3rem;
  margin-top: 1.7rem;

  border-radius: 20rem;
  border: 0.2rem solid var(--color-04);

  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: var(--color-04);
  background: none;
}

.about .about-content .right p {
  text-align: justify;
  font-size: 1.5rem;
  color: var(--color-04);
}

.about .about-content .left img {
  width: 400px;
  height: 400px;

  object-fit: cover;

  border-radius: 0.8rem;
}

/*FIM DO SOBRE*/

/*INICIO DAS SKILLS*/
.skills-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.skills {
  background: var(--color-04);
  color: var(--color-02);
}

.skills .title::after {
  content: 'Conhecimentos';
  background: none;
  color: var(--color-02);
}

.skills .skills-content .card .box img {
  width: 80px;
  height: 80px;

  border-radius: 2.5rem;
}

.skills .skills-content .card {
  /*width: calc(50% - 10px);*/
  width: 100%;
  /*height: 150px;*/

  background: var(--color-02);
  color: var(--color-04);
  border-radius: 0.6rem;
  cursor: pointer;

  padding: 2rem 2.5rem;
  margin-bottom: 0.5rem;
}

.skills .skills-content .card .box {
  display: flex;
  justify-items: center;
  align-items: center;
}

.skills .skills-content .card .box .box-p {
  display: flex;
  flex-direction: column;

  margin: 1.5rem;
}

.skills .skills-content .card .box .box-p .text {
  font-weight: 500;
  font-size: 1.8rem;

  border-bottom: solid 0.1rem var(--color-04);
}

.skills .skills-content .card .box .box-p p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
/*FIM DAS SKILLS*/

/*INICIO DAS PROJETOS*/

/*FIM DAS PROJETOS*/

/*INICIO DA RESPONSIVIDADE*/
@media (max-width: 1300px) {
  .navbar .max-width {
    margin-left: 0;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 1000px) {
  .max-width {
    padding: 0 5rem;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .navbar .menu {
    /*Aqui está as configurações dos itens MENU quando estiver no mobile*/
    /*Criação do menu reponsivo*/
    position: fixed;

    width: 100%;
    height: 100vh;

    left: 0;
    top: 0;
    background: var(--color-04);

    padding-top: 8rem;
    text-align: center;

    display: none;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 2rem 0;
    font-size: 2.5rem;
  }

  .about .about-content .column {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .about .about-content .left img {
    width: 300px;
    height: 300px;
  }

  .about .about-content .right a {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 750px) {
  .about .about-content .right a {
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }
}

@media (max-width: 700px) {
  section .title {
    font-size: 2rem;
  }

  .skills .skills-content .card .box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .max-width {
    padding: 0 3rem;
  }

  .skills .skills-content .card .box .box-p .text {
    text-align: center;
  }

  .home .home-content .text-2 {
    font-size: 3rem;
  }

  .home .home-content .text-3 {
    font-size: 2rem;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 6rem;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .services .title::after {
    content: 'Competências';
  }

  .skills-bar .bar .info {
    margin-bottom: 2.6rem;
  }

  .about .title::after {
    font-size: 1.8rem;
  }

  .home .home-content a {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 3rem;
  }

  .home .home-content .text-3 {
    font-size: 2rem;
  }
}
/*FIM DA RESPONSIVIDADE*/
