@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --color-01: #00804b;
  --color-02: #fff;
  --color-03: #3a4d5e;
  --color-04: #000;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  transition: 0.2s;

  font-family: 'Montserrat', sans-serif;
}

.max-width {
  /*Deixando o menu centralizado*/
  max-width: 1280px;
  padding: 0 8rem;
  margin: auto;
}

/*FIM DOS VALORES PADRÕES*********************************************/

/*INICIO DA NAVBAR*********************************************/
.navbar {
  position: fixed;
  width: 100%;
  padding: 3rem 0;

  transition: all 0.3s ease;
}

.navbar.sticky {
  /*Aqui estamos criando a classe que vai adicionar o background do HEADER no momento da rolagem*/
  background: var(--color-04);
  padding: 1.5rem 0;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--color-02);
  font-size: 3.5rem;
  font-weight: 500;
}

.navbar .logo a span {
  color: var(--color-04);
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  /*Aqui estamos criando a classe que vai adicionar o background do HEADER no momento da rolagem*/
  color: var(--color-03);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: var(--color-02);

  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 2.5rem;

  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: var(--color-04);
}

.navbar.sticky .menu li a:hover {
  /*Aqui estamos criando a classe que vai adicionar o background do HEADER no momento da rolagem*/
  color: var(--color-03);
}
/*FIM DA NAVBAR*********************************************/

/*INICIO DA HOME*********************************************/
.home {
  display: flex;
  background: url(image/01.jpg) no-repeat center;
  height: 100vh;
  color: var(--color-02);
  min-height: 500px;
}

.home .max-width {
  margin: auto 0 auto 4rem;
}

.home .home-content .text-1 {
  font-size: 2.7rem;
}

.home .home-content .text-2 {
  font-size: 4rem;
  font-weight: 500;
  margin-left: -0.3rem;
}

.home .home-content .text-3 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.home .home-content .text-3 span {
  color: var(--color-04);
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;

  background: var(--color-04);
  color: var(--color-02);

  font-size: 2.5rem;

  padding: 1.2rem 3.6rem;
  margin-top: 2rem;

  border-radius: 15rem;
  border: 0.1rem solid var(--color-02);
}
/*FIM DA HOME*********************************************/

/*INICIO DO MENU MOBILE****************************************/
.menu-btn {
  color: var(--color-02);
  font-size: 2.6rem;
  cursor: pointer;

  display: none;
}
/*FIM DO MENU MOBILE****************************************/

/*INICIO DA RESPONSIVIDADE*************************************/
@media (max-width: 1104px) {
  .navbar .max-width {
    margin-left: 0;
  }
}

/*@media (max-width: 991px) {
  .navbar .max-width {
    padding: 0 5rem;
  }
}*/

@media (max-width: 1001px) {
  .max-width {
    padding: 0 5rem;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .navbar .menu {
    /*Criação do menu reponsivo*/
    position: fixed;

    width: 100%;
    height: 100vh;

    left: 0;
    top: 0;
    background: var(--color-04);

    padding-top: 8rem;
    text-align: center;

    display: none;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 2rem 0;
    font-size: 2.5rem;
  }

  /*.home .home-content .text-2 {
    font-size: 7rem;
  }

  .home .home-content .text-3 {
    font-size: 3.5rem;
  }*/
}

@media (max-width: 690px) {
  .home .home-content .text-2 {
    font-size: 3rem;
  }

  .home .home-content .text-3 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 3rem;
  }

  .home .home-content .text-3 {
    font-size: 2rem;
  }
}
/*FIM DA RESPONSIVIDADE*************************************/
